# 컴파일된 출력물
/dist
/build

# 의존성
/node_modules
package-lock.json

# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# 환경 설정
.env
.env.*
!.env.example

# 로그
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 시스템 파일
.DS_Store
Thumbs.db

# 테스트 커버리지
/coverage

# NestJS 특정
.nest 